/***** css rules star selector + body *****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    font-size: 16px;
}

p {
    line-height: 30px;
}

/***** css rules background-color *****/
.bgc-azure {
    background-color: #0084fd;
}

.bgc-sky {
    background-color: #b9dbfe;
}

.bgc-green {
    background-color: #caefdb;
}

.bgc-salmon {
    background-color: #fed2d1;
}

.bgc-orange {
    background-color: #ffe7c3;
}

.bgc-purple {
    background-color: #d5d4f4;
}

.bgc-purple2 {
    background-color: #9692e6;
}

.bgc-white {
    background-color: white;
}

.bgc-darkgrey {
    background-color: #333333;
}

/* css rules text formatting */
.ta-center {
    text-align: center;
}

.tdn {
    text-decoration: none;
}

/* css rules text colors */
.c-white {
    color: white;
}

.c-black {
    color: black;
}

.c-yellow {
    color: #ffc068;
    font-size: 3rem;
}

.c-azure {
    color: #0084fd;
}

.c-azure2 {
    color: #5182ab;
}

.c-green {
    color: #54c688;
}

.c-green2 {
    color: #628d73;
}

.c-salmon {
    color: #fd898a;
}

.c-salmon2 {
    color: #8c5e5e;
}

.c-orange {
    color: #ffc162;
}

.c-orange2 {
    color: #a18965;
}

.c-purple {
    color: #9692e6;
}

.c-purple2 {
    color: #6b678f;
}

/* css rules to remove bullets */
ul {
    list-style-type: none;
}

/***** css rules centering content *****/
.centering-90 {
    width: 90%;
    margin: 0 auto;
}

.centering-80 {
    width: 80%;
    margin: 0 auto;
}