/***** header *****/
.content-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

header .content-header ul {
    display: none;
}

.content-header button {
    background-color: transparent;
    border: none;
}

/***** section demo *****/
#demo {
    padding: 50px 0;
}

#demo .content-demo {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#demo .credit-demo {
    padding: 20px 0;    
}

.flex-child-demo {
    border-radius: 20px;
    padding-top: 20px;
}

.flex-child-demo > .centering-90 {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.flex-child-demo > .centering-90 .text-app-container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.flex-child-demo a {
    align-self: flex-start;
    padding: 5px 20px;
    background-color: #0084fd;
    border-radius: 20px;
}

.img-long {
    background-color: white;
    height: 300px;
    width: 70%;
    align-self: center;
}

.flex-child-demo2 {
    border-radius: 20px;
    padding: 20px 0;
}

.flex-child-demo2 > .centering-90 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.flex-child-demo2 > .centering-90 > * {
    text-align: center;
}

/***** section idea *****/
#idea {
    padding: 50px 0;
}

.container-section-idea {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.first-idea, 
.second-idea > .centering-90 {
    display: flex;
    flex-direction: column;
}

.first-idea {
    row-gap: 30px;
}

.square-img-idea {
    height: 400px;
    width: auto;
    background-color: white;
}

.second-idea {
    border-radius: 20px;
}

.second-idea > .centering-90 {
    align-items: center;
    padding: 20px 0;
    row-gap: 20px;
}

.square-bid-idea {
    height: 300px;
    width: 100%;
    background-color: black;
}

.second-idea > .centering-90 > button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
}

/***** section testimonials *****/
#testimonials {
    padding: 50px 0;
}

.container-section-testimonials {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.testimonials-title {
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.testimonials-content {
    border-radius: 20px;
}

.testimonials-content > .centering-90 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 20px;
    padding: 20px 0;
}

.img-testimonials {
    align-self: center;
    width: 60%;
}

.img-testimonials img {
    width: 100%;
    border-radius: 50%;
}

/***** section benefict *****/